 .checkoutProduct{
     display: flex;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .checkoutProduct__image{
     object-fit: contain;
     width: 180px;
     height: 180px;
 }

 .checkoutProduct__info{
     padding-left: 20px;
 }

 .checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
 }

 .checkoutProduct__rating{
    display: flex;
 }

 .checkoutProduct__info > button {
      background: yellow;
      border: 1px solid;
      margin-top: 10px;
      border-color: rgb(212, 161, 83) rgb(201, 151, 42) rgb(185, 128, 22);
      color: rgb(68, 44, 44);
 }